.pad {
  padding: 0px 0.3rem 0px 0.5rem;
}

/* Scrolling */

.scroll-head {
  /* No longer needed */
}

.scroll-y-area {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0; 
}

.full-height {
  /* Important in every parent form scroll-y-area */
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* Style for Item-Lists */
.list-item-ul {
  list-style-type: none;
  padding: 0;
}

.list-item-obj {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--line-soft);
  transition: background 0.2s;
  min-height: 55px;
}

.list-item-obj:hover {
  background: var(--bg-body-hover);
}

.list-item-link {
  min-height: 55px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  padding: 0;
}

.list-item-info {
  display: flex;
  flex-direction: column;
}

.list-item-name {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--text-item-name);
}

.list-item-tags {
  font-size: 0.9rem;
  color: var(--text-item-sub);
}

.tag-label-item {
  margin-right: 0.4rem;
  margin-bottom: 0.25rem;
}

.list-item-fav-btn {
  /*flex-shrink: 0;
  align-self: center;*/
  margin-left: auto;
  margin-right: 0.3rem;
}


/* ERROR-FIX */
/* This dont work because of "a, .green" in main.css */
/*
.LinkItem-list {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  margin-top: auto;
}

.LinkItem-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
*/

.detail-view {
  overflow: hidden;
}



.detail-space {
  background-color: var(--bg-space);
  height: 85px;
}

.detail-header {
  background-color: var(--bg-header);
  padding-bottom: 10px;
  text-align: center;
  position: relative;
}

.detail-header h3 {
  font-size: 30px; /* ERROR-FIX change size */
}

.detail-header h4 {
  font-size: 16px;
}

.detail-content-text {
  padding: 20px; /* % */
}

.detail-content p {
  font-size: 14px;
  line-height: 1.6;
}

/* ERROR-FIX Do Styling in favBtn.vue and do restyle */
.detail-view-favBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.detail-line {
  border-bottom: 2px solid var(--divid-line);
}

.event-detail-time, h4 {
  font-size: 1.2rem;
  font-weight: bold;
}


/* Settings Page */

.sett-button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.sett-title {
  font-size: 1.1rem;
}

.sett-button-group button {
  padding: 0.5rem 1rem;;
  cursor: pointer;
  background: var(--btn-normal-bg);
  color: var(--btn-normal-text);
}

.sett-button-group button.active {
  background: var(--btn-active-bg);
  color: var(--btn-active-text);
}

/* Button Header */
.btn-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--list-group);
}

.btn-header .btn {
  color: var(--text-topnav); 
  background-color: var(--bg-topnav-head-btn);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-header .left {
  border-radius: 0px 0px 15px 0px;
}

.btn-header .right {
  border-radius: 0px 0px 0px 15px;
}

.btn-header .full {
  border-radius: 0px;
  width: 100%;
}

.btn-header .left, .right {
  width: 50%;
}

