.pad {
  padding: 0px 0.3rem 0px 0.5rem;
}

.list-item-ul {
  list-style-type: none;
  padding: 0;
}

.list-item-obj {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-theme-line-soft);
  transition: background 0.2s;
  min-height: 55px;
}

.list-item-obj:hover {
  background: var(--color-bg-theme-body-hover);
}

.list-item-link {
  min-height: 55px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  padding: 0;
}

.list-item-info {
  display: flex;
  flex-direction: column;
}

.list-item-name {
  font-size: 1.125rem;
  font-weight: bold;
}

.list-item-tags {
  font-size: 0.9rem;
  color: var(--color-subtext-body);
}

.tag-label-item {
  margin-right: 0.4rem;
  margin-bottom: 0.25rem;
}

.list-item-fav-btn {
  /*flex-shrink: 0;
  align-self: center;*/
  margin-left: auto;
  margin-right: 0.3rem;
}


/* ERROR-FIX */
/* This dont work because of "a, .green" in main.css */
/*
.LinkItem-list {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  margin-top: auto;
}

.LinkItem-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
*/

.detail-view {
  overflow: hidden;
}

.act-detail-view-img {
  /* Ring-color in base.css */
  border: 4px solid var(--color-bg-theme-space);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -60px;

  /*left: 40%;
  top: -70px;*/ /* Dont Work ??? */

  /*width: 100%;
  height: auto;
  /*display: block;*/
}

.detail-space {
  background-color: var(--color-bg-theme-space);
  height: 70px;
}

.detail-header {
  background-color: var(--color-bg-theme-header);
  padding-bottom: 10px;
  text-align: center;
  position: relative;
}

.detail-header h3 {
  font-size: 30px; /* ERROR-FIX change size */
}

.detail-header h4 {
  font-size: 16px;
}

.detail-content-text {
  padding: 20px; /* % */
}

.detail-content p {
  font-size: 14px;
  line-height: 1.6;
}

/* ERROR-FIX Do Styling in favBtn.vue and do restyle */
.detail-view-favBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.detail-line {
  border-bottom: 2px solid var(--color-theme-line);
}

.event-detail-time, h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
